h1{
    text-align: center;
    color: blue;
    font-family: 'Arial Black', Helvetica, sans-serif ;
}
p{
    text-align: right;
    font-family: 'Arial Black', Helvetica, sans-serif;
}
div{
    text-align: right;
    font-family: inherit;
}
img{
    vertical-align: 30 px;
    size: 200%;
}